@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

body {
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.logo {
  margin-top: 31px;
  margin-bottom: 32.11px;
  margin-left: 32px;
}
.card {
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  width: 375px;
}
img {
  object-fit: none;
}
.main-mobile {
  max-width: 100%;
  overflow: hidden;
}
.comingsoon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 311px;
  margin: 64px auto 0px;
}
h1 {
  color: #ce9898;
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 10.8254px;
}
span {
  color: #423a3a;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 10.8254px;
}
p {
  color: #ce9898;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin: 16px auto;
}
.email {
  width: 311px;
  height: 48px;
  margin: 32px auto 92px;
  box-sizing: border-box;
  position: relative;
}
input {
  padding: 0px;
  width: calc(100% - 24px);
  max-width: 311px;
  height: 48px;
  color: #ce9898;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid #ce9898;
  border-radius: 28px;
  padding-left: 24px;
}
button {
  position: absolute;
  width: 64px;
  height: 50px;
  right: -2px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
  border: none;
  color: #ce9898;
  top: 0;
}
.arrow {
  color: #ffffff;
}
#error {
  display: none;
  margin-top: 8px;
  margin-left: -85px;
  color: #f96464;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
}
#mark {
  display: none;
  position: absolute;
  width: 24px;
  height: 24px;
  padding-left: 215px;
  padding-top: 13px;
  top: 0px;
}

@media (min-width: 1440px) {
  .main-mobile {
    display: none;
  }
  .main-desktop {
    background-image: url("./images/hero-desktop.jpg");
    background-size: cover;
    display: block;
    height: 100vh;
    width: 40%;
  }
  body {
    justify-content: space-between;
    margin: 0px;
    box-sizing: border-box;
  }
  .card {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    height: 100vh;
  }
  .logo {
    width: 158px;
    margin: 74.91px 507px 136.09px 165px;
  }
  .comingsoon {
    width: 445px;
    margin: 0px;
    margin-left: 165px;
  }
  h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 17.3206px;
    text-align: start;
  }
  span {
    font-size: 64px;
    line-height: 71px;
    letter-spacing: 17.3206px;
  }
  p {
    font-size: 16px;
    line-height: 28px;
    margin: 32px auto 0px;
    text-align: start;
  }
  .email {
    width: 445px;
    height: 56px;
    margin: 40px 0px 152px 165px;
  }
  input {
    padding: 0px;
    max-width: 413px;
    padding-left: 32px;
    height: 56px;
  }
  button {
    width: 100px;
    height: 57px;
    right: -2px;
    bottom: 0px;
  }
  button:hover {
    background: #f7cac9;
    box-shadow: 0px 15px 20px rgba(233, 183, 183, 0.248);
    cursor: pointer;
  }
}
